canvasapi
python-dotenv
python-telegram-bot # Includes necessary extensions like CommandHandler, JobQueue etc.
ollama
zoneinfo # is built-in for Python 3.9+
asyncio 
logging
datetime
os
re
html
time
typing
